<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings><add name="OdyClerkInternalEntities" connectionString="metadata=res://*/CitationModel.csdl|res://*/CitationModel.ssdl|res://*/CitationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LSNODYTEST\FLORANGETEST;initial catalog=OdyClerkInternal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ReferenceEntities" connectionString="metadata=res://*/CitationModel.csdl|res://*/CitationModel.ssdl|res://*/CitationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LSNODYTEST\FLORANGETEST;initial catalog=OdyClerkInternal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="" internalLogLevel="Error" throwexceptions="false">
    <targets>
      <!-- This target will write to the console-->
      <!--<target name="console" xsi:type="Console" layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${exception:format=tostring}" />-->

      <!-- This target will write to a file -->
      <!-- The layout is pipe delimited so that the file can be imported into Excel -->
      <!--Note: E:\LogFiles\TrafficCitationImport_v2 maps to \\CWTMAPP01\LogFiles$\TrafficCitationImport_v2-->
      <target name="file" xsi:type="File" fileName="\\CWTMAPP01\LogFiles$\TrafficCitationImport_v2\${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${callsite}|${message}|${exception:format=tostring}" archiveFileName="logs/archives/${shortdate}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="45" />

      <!-- This taget will write to a csv file-->
      <!-- TODO archive functionality needs further work/investigation-->
      <!--<target name="csv"
                   xsi:type="File"
                   fileName="${basedir}/logs/${shortdate}.csv"
                   archiveFileName="logs/archives/${shortdate}.csv"
                   archiveEvery="Day"
                   archiveNumbering="Rolling"
                   maxArchiveFiles="45"
                                  >
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${uppercase:${level}}"/>
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=tostring}" />
        </layout>
      </target>-->

      <!-- This target will write to a database by calling a stored procedure -->
      <!-- Use this target for multi-server environments -->

    </targets>

    <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="console" />-->
      <!--<logger name="*" minlevel="Error" writeTo="database" />-->
      <!--<logger name="*" minlevel="Debug" writeTo="csv" />-->
      <!--<logger name="*" minlevel="Info" writeTo="database" />-->
      <logger name="*" minlevel="Info" writeTo="file" />
      <!--<logger levels="Error,Warn,Fatal" name="databaseLogger" writeTo="database"/>-->
    </rules>
  </nlog>

  <appSettings>
    <add key="RunAsConsoleApp" value="No" />
    <add key="archiveFilePath" value="\\cwtseaa01\CitationImportTest\Archive" />
    <add key="RetryTime" value="4000" />
    <add key="testing" value="true" />
    <!--<add key ="overwritelocal" value="true"/>-->
    <add key="days" value="0" />
    <add key="hours" value="10" />
    <add key="minutes" value="40" />
    <!--interval set to 1 second -->
    <add key="interval" value="1000" />
    <add key="spanHours" value="24" />
    <add key="spanMinutes" value="0" />
    <add key="spanSeconds" value="0" />
    <!--
      Configuring the frequency of run i.e. how many hours between each run
      diffHoursNormal = Number of hours between each run when current hour is greater than prvious hour.
      diffHoursSpecial = Number of hours between each run when previous hour is greater than current hour.
      diffHoursNormal   diffHoursSpecial
      1                 23
      2                 22
      3                 21
      4                 20
      5                 19
      6                 18
      7                 17
      8                 16
      9                 15
      10                14
      11                13
      12                12
    -->
    <add key="diffHoursNormal" value="6" />
    <add key="diffHoursSpecial" value="18" />
    
    <add key="dataFile" value="\\\\cwpmapp01\\facc\\facc\\traffic\\tcats\\in\\hold" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>